<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nursan.Licenzing.Properties.Settings.RMConnectionString"
            connectionString="Data Source=200.2.10.5;Initial Catalog=RM;Persist Security Info=True;User ID=sa;Password=wrjkd34mk22"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>